
:root {
    --col1: rgb(40, 40, 255);
    --col2: rgb(189, 91, 0);
    --col3: #F59776;
    --col4: #ffd9cb;
    --col5:#00DEB2;
    --col6:#52dfc2e7;
    --col7: #CBF7FF;
    --col8:#f1fbfd;
    

    }
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: var(--col7);
        margin: 0;    
        background-color: var(--col4);    
    }

    h1{
        text-align: center;
    }

    h2{
        margin-left: 30px;
    }

    #headDiv {
        font-size: x-large;
        color: black;
        margin-top: 80px;
        padding-top: 100px;
        background-color: var(--col8);
        height: 200px;
        text-align: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #imgOne {
        float: right;
        padding-left: 15px;
    }

    #myBody {
        margin-left: 50px;
        margin-right: 50px;
        margin-top:0;
        padding: 50px;
        background-color: var(--col7);
    }


        #myIndex {
        gap : 30px;
        padding: 30px;
        background-color: var(--col5);
        font-size: large;
        position: fixed;
        top: 0;
        width: 100%;
        }


        #myIndex a:hover{background: #F59776;}

        
       
        #myInd {
        display : flex;
        flex-direction: row;
        gap : 30px;
        float: right;
        padding-right: 70px;
        }

        #footer {
            text-align: center;
            font-size: medium;
            padding-top: 30px;
            background-color: var(--col6);
            height: 50px;
        }


        th {
            background-color: var(--col5);
          }


          table {
              border: solid;
              border-collapse: collapse;
              
          }

          table, th, td {
            border: 1px solid black;
            text-align: center;
            height: 50px;
            padding: 5px;
          }



        @media (max-width :700px) {
        }