/* myStyle.css */
:root {
    --col1: rgba(0, 0, 255, 0.534);
    --col2: rgb(189, 91, 0);
    --col3: #F59776;
    --col4: #FF875D;
    --col5:#00DEB2;

}
    body {
        background-color: var(--col1);
        color: var(--col2);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1 {
        color: var(--col1);
        text-align: center;
        font: italic 200% fantasy;
    }
    p {
        background-color: var(--col4);
        color: #333300;
        text-align: right;
        border: 3px groove #FFFF33;
    }
   .myInd {
        display : flex;
        justify-content: space-evenly;
        padding : 10px;
    }