:root {
    --col1: rgba(0, 0, 255, 0.534);
    --col2: rgb(189, 91, 0);
    --col3: #F59776;
    --col4: #FF875D;
    --col5:#00DEB2;
    --col6: #CBF7FF;

    }
    body {
        color: var(--col2);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: var(--col6);
    }

