/* myStyle.css */
:root {
    --col1: rgba(0, 0, 255, 0.534);
    --col2: rgb(189, 91, 0);
    --col3: #F59776;
    --col4: #FF875D;
    --col5:#00DEB2;

}
:root {
    --col1: rgba(0, 0, 255, 0.534);
    --col2: rgb(189, 91, 0);
    --col3: #F59776;
    --col4: #FF875D;
    --col5:#00DEB2;
    --col6: #CBF7FF;

    }
    body {
        background-color: var(--col6);
        color: var(--col2);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1 {
        color: var(--col1);
        text-align: center;
        font: italic bold 100%;
    }

   .myInd {
        display : flex;
        justify-content: space-evenly;
        padding : 10px;
        text-align: center;
   }

   .myInd p{
       text-align: center;
   }

   @media (max-width :700px) {
   }